.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;
}
    
.image_footer>img{
    width: 90px;
}
    
    
    

    

